APP_NAME=
NODE_ENV=
APP_URL=
APP_PORT=
LEVEL_LOG=

SESSION_SECRET=
SESSION_SECRET_FILE=
SESSION_EXPIRES_IN=

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_USERNAME_FILE=
DB_PASSWORD=
DB_PASSWORD_FILE=
DB_LOGGING=

SSO_BASE_URI=
SSO_AUTHORIZE_ENDPOINT=
SSO_GRANT_TYPE=
SSO_RESPONSE_TYPE=
SSO_CLIENT_ID_FILE=
SSO_CLIENT_ID=
SSO_CLIENT_SECRET_FILE=
SSO_CLIENT_SECRET=
SSO_SCOPE=
SSO_REDIRECT_URI=
SSO_TOKEN_ENDPOINT=
SSO_USERINFO_ENDPOINT=
SSO_ENDSESSION_ENDPOINT=

MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_ACCESS_KEY_FILE=
MINIO_SECRET_KEY=
MINIO_SECRET_KEY_FILE=
MINIO_BUCKET=