<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./styles/main.css" rel="stylesheet">
</head>

<body class="flex items-center h-screen bg-gray-100 py-2 px-4 justify-center md:justify-end">
  <div class="bg-white/20 p-8 rounded shadow w-full max-w-md m-auto">
    <div class="my-4 font-bold text-center w-full">
      <form action="login/KemenkeuID" method="post">
        <button type="submit" class="w-full py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Login With Kemenkeu ID</button>
      </form>
    </div>
  </div>
</body>

</html>